
html, body {
    height: 100%;
    margin: 0px;
}
*{
    font-size: 12pt;
    font-family: Courier New;
}
body{
    background-color: #0C0C0D;
}

input {
    width: 100%;
    border: 0;  
    padding: 0;
}

#pointer{
    float: left;
    color: #858587;
    font-weight: bold;
    padding: 5px;
    padding-top: 0;
}
#codeInput{
    height: 100%;
    width: 100%;
    color: #906FC7;
    background-color: #000000;
    margin: 0;
    border: 0;
    padding: 0;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}
#topWrapper{
    overflow: auto;
}
#bottomWrapper{
    background-color: #0C0C0D;
    position: absolute;
    display: flex;
    max-height: 100%;
    min-height: 12pt;
    width:100%;
    bottom: 0;
}
.resultWrapper{
    width: 100%;
    background-color: #2A2A2E;
}
.tableWrapper{
    display: table;
}
.resultPointer{
    overflow: hidden;
    display: table-cell;
    white-space: pre;
    font-weight: bold;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    color: #A0A0A1;
}
.evaluated{
    word-break: break-word;
    display: table-cell;
    width: 100%;
    white-space: pre-wrap;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}
.resultArrow{
    overflow: hidden;
    display: table-cell;
    white-space: pre;
    line-height: 12pt;
    font-size: 24pt;
    font-weight: bold;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
    color: #838385;
}
.returned{
    word-break: break-word;
    display: table-cell;
    white-space: pre-wrap;
    color: #78787B;
    -moz-tab-size : 4;
    -o-tab-size : 4;
    tab-size : 4;
}
